<div class="header">
    <h2>Создание нового ингредиента</h2>
</div>

<div class="header">
    <div>
        <form  ng-submit="submit()">
            <div>
                <div>
                    Название  <input type="text" ng-model="ingredient.name" name="ingredient" >
                    Мера  <select ng-model="ingredient.measure" name = "measure" ng-options="m.name for m in measures">
                    </select>
                    <div class="createRecipe">
                        <a href="#/createMeasure" class="btn btn-link">Создать новую меру (кг, г, стакан и т.д.)</a>
                    </div>
                </div>
            </div>
            <div>
                <input class="btn btn-default" type="submit" id="submit" value="Создать" />
            </div>
        </form>
    </div>

</div>