<div class="header">
    <h2>Create new recipe</h2>
</div>
<div>
    <form ng-submit="submit()" enctype="multipart/form-data">
        <div>
            <div class="createRecipe">
                <label style="width: 100px; height: 25px;">Name</label>
                <input style="width: 300px; height: 25px;" ng-model="recipe.name" name="name">
            </div>
            <div class="createRecipe">
                <label style="width: 100px; height: 25px;">Cuisine</label>
                <select style="width: 300px; height: 25px;" ng-model="recipe.cuisine" name="cuisine" ng-options="c.name for c in cuisines"></select>
            </div>
            <div class="createRecipe">
                <label style="width: 100px; height: 25px;">Ingredients</label>
                <br/>
                <div>
                    <select style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe1.ingredient" ng-options="i.name for i in ingredients"></select>
                    <input style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe1.quantity">
                    <output style="width: 300px; height: 25px; display:inline-block;">{{ingredientRecipe1.ingredient.measure.name}}</output>
                </div>
                <div>
                    <select style="width: 300px; height: 25px;" ng-model="ingredientRecipe2.ingredient" ng-options="i.name for i in ingredients"></select>
                    <input type= "number" style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe2.quantity">
                    <output style="width: 300px; height: 25px; display:inline-block;">{{ingredientRecipe2.ingredient.measure.name}}</output>
                </div>
                <div>
                    <select style="width: 300px; height: 25px;" ng-model="ingredientRecipe3.ingredient" ng-options="i.name for i in ingredients"></select>
                    <input type= "number" style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe3.quantity">
                    <output style="width: 300px; height: 25px; display:inline-block;">{{ingredientRecipe3.ingredient.measure.name}}</output>
                </div>
                <div>
                    <select style="width: 300px; height: 25px;" ng-model="ingredientRecipe4.ingredient" ng-options="i.name for i in ingredients"></select>
                    <input type= "number" style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe4.quantity" required>
                    <output style="width: 300px; height: 25px; display:inline-block;">{{ingredientRecipe4.ingredient.measure.name}}</output>
                </div>
                <div>
                    <select style="width: 300px; height: 25px; " ng-model="ingredientRecipe5.ingredient" ng-options="i.name for i in ingredients"></select>
                    <input type="number" style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe5.quantity">
                    <output style="width: 300px; height: 25px; display:inline-block;">{{ingredientRecipe5.ingredient.measure.name}}</output>
                </div>
            </div>
            <div class="createRecipe">
                <a href="#/createIngredient" class="btn btn-link">Create new ingredient</a>
            </div>
            <div class="createRecipe">
                <label style=" width: 100px; height: 25px; padding-top: 10px; margin-top: 0px">Text</label>
                <br/>
                <textarea style=" width: 800px; height: 200px;" ng-model="recipe.recipe" name="text">
                    </textarea>
            </div>
            <div class="createRecipe">
                <input type="file" id="file" name="file"
                       onchange="angular.element(this).scope().fileChanged(this)">
            </div>
            <div class="createRecipe">
                <input type="submit" class="btn btn-default" id="submit" value="Add recipe"/>
            </div>
        </div>

    </form>
</div>
