<div class="header">
    <h2>Create new recipe</h2>
</div>
<div>
    <form  ng-submit="submit()">
        <div>
            <b>Create new recipe</b>
            <div>
                Recipe name :  <input type="text" ng-model="recipe.name" name="name" >
                Recipe text :  <input type="text" ng-model="recipe.recipe" name="text" >
                Cuisine name :  <select ng-model="recipe.cuisine" name = "cuisine" ng-options="c.name for c in cuisines">
                <input type="file" name="f">
            </select>
            </div>
        </div>
        <div>
            <input type="submit" id="submit" value="Submit" />
        </div>
    </form>
</div>