<div class="header">
    <h2>Create new ingredient</h2>
</div>

<div class="header">
    <div>
        <form  ng-submit="submit()">
            <div>
                <div>
                    Name  <input type="text" ng-model="ingredient.name" name="ingredient" >
                    Measure  <select ng-model="ingredient.measure" name = "measure" ng-options="m.name for m in measures">
                    </select>
                    <div class="createRecipe">
                        <a href="#/createMeasure" class="btn btn-link">Create new measure</a>
                    </div>
                </div>
            </div>
            <div style="floa:center;">
                <input class="btn btn-default" type="submit" id="submit" value="Submit" />
            </div>
        </form>
    </div>

</div>