<div class="header">
    <h2>Изменение рецепта</h2>
</div>
<div>
    <form name="form" ng-submit="editRecipe()" enctype="multipart/form-data">
        <div>
            <div class="createRecipe">
                <label style="width: 100px; height: 25px;">Название</label>
                <input style="width: 300px; height: 25px;" ng-model="selectedRecipe.name" name="name" required>
            </div>
            <div class="createRecipe">
                <label style="width: 100px; height: 25px;">Кухня</label>
                <select style="width: 300px; height: 25px;"  name="cuisine"
                                     ng-model="selectedRecipe.cuisine"
                                     ng-options="c.name for c in cuisines track by c.name" required>
                </select>
            </div>
            <div class="createRecipe">
                <label style="width: 100px; height: 25px;">Ингредиенты</label>
                <br/>

                <div ng-repeat="ingredientRecipe in ingredientRecipeArray" >
                    <select name = "ingredient" style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe.ingredient"
                            ng-options="i.name for i in ingredients track by i.name" required></select>
                    <input type = "number"  min="0.1" max="1000000" step="any" name="quantity" id="quantity" class="form-control" style="width: 300px; height: 25px; display:inline-block;" ng-model="ingredientRecipe.quantity" required>
                    <output style="width: 300px; height: 25px; display:inline-block;">{{ingredientRecipe.ingredient.measure.name}}</output>
                    <br/>
                    <div style ="width: 300px; height: 25px; margin: 0px;" ng-show="form.quantity.$error.min || form.quantity.$error.max">
                        Not valid number</div>
                </div>

                <div class="createRecipe">
                    <input class="btn btn-default" ng-disabled = "form.ingredient.$invalid || form.quantity.$invalid" ng-click="addIngredient()" value="Добавить ингредиент"/>
                    <input class="btn btn-default" ng-disabled = "lastItem" ng-click="deleteIngredient()" value="Удалить ингредиент"/>
                </div>

            </div>
            <div class="createRecipe">
                <a href="#/createIngredient" class="btn btn-link">Создать новый ингредиент</a>
            </div>
            <div class="createRecipe">
                <label style=" width: 100px; height: 25px; padding-top: 10px; margin-top: 0px">Текст рецепта</label>
                <br/>
                <textarea style=" width: 800px; height: 200px;" ng-model="selectedRecipe.recipe" name="text" required>
                    </textarea>
            </div>
            <br/>
            <div class="createRecipe">
                <input type="file" id="file" name="file"
                       onchange="angular.element(this).scope().fileChanged(this)">
            </div>
            <div>
                <div style = "padding-left:21px; text-align:left; width: 300px; height: 25px;" ng-show="form.$dirty && form.$invalid">
                    Все поля должны быть заполнены
                </div>
            </div>
            <div class="createRecipe">
                <input type="submit" class="btn btn-default" ng-disabled="form.$invalid" id="submit" value="Сохранить"/>
            </div>
        </div>

    </form>
</div>
