<div class="header">
    <h2>The most popular recipes</h2>
</div>

<div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Recipe</th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recipe in recipes">
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.recipe }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>