<div class="header">
    <h1>{{selectedRecipe.name}}</h1>
</div>
<div>
    <div>
        {{selectedRecipe.recipe}}
    </div>
    <div>
        <p><img width="525" height="790" src="{{selectedRecipe.image}}"></p>
    </div>

    <div class="recipeView" ng-show="loggedIn">Автор: {{selectedRecipe.user.name}}</div>
    <br/>

        <div class="recipeView">
            <a class="btn btn-default" href="#/editRecipe" ng-click="Edit(recipe)" ng-show="loggedIn">Изменить</a>
            <a class="btn btn-default" ng-click="Delete()" ng-show="loggedIn">Удалить</a>
        </div>
</div>

