<div class="header">
    <h1>{{selectedRecipe.name}}</h1>
</div>
<div>
    <div>
        {{selectedRecipe.recipe}}
    </div>

    <div class="recipeView" ng-show="loggedIn">Created by {{selectedRecipe.user.name}}</div>
    <br/>

        <div class="recipeView">
            <a class="btn btn-default" href="#/#/editRecipe" ng-click="Edit(recipe)" ng-show="loggedIn">edit</a>
            <a class="btn btn-default" href="#/recipes" ng-click="Delete(recipe)" ng-show="loggedIn">delete</a>
        </div>
</div>

