<div class="header">
    <h2>Edit recipe</h2>
</div>
<div>
    <form  ng-submit="submit()">
        <div>
            <b>Edit recipe</b>
            <div>
                Recipe name :  <input type="text" ng-model="selectedRecipe.name" name="name" value = "selectedRecipe.name">
                Recipe text :  <textarea type="text" ng-model="selectedRecipe.recipe" name="text">{{selectedRecipe.recipe}}</textarea>
                Cuisine name :  <select ng-model="selectedRecipe.cuisine" name = "cuisine" ng-options="c.name for c in cuisines" value = "selectedRecipe.cuisine.name">
            </select>
            </div>
        </div>
        <div>
            <input type="submit" id="submit" value="Submit" />
            <a href="#/recipes"><button>Cancel</button></a>
        </div>
    </form>
</div>