<div class="header">
    <h3>Search <input style="width: 500px;" ng-model="searchRecipe"> </h3>
</div>
<div>
    <a href="#/createRecipe" class="btn btn-link" ng-show="loggedIn">Create new recipe</a>
</div>
<div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Recipe</th>
                <th>Rating</th>
                <th width="100"></th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody style="cursor:pointer;">
            <tr ng-repeat="recipe in recipes | filter:searchRecipe" >
                <td ng-class="{'selected':$index == selectedRow}" ng-click="setSelectedRecipe(recipe)" >{{ recipe.name }}</td>
                <td ng-class="{'selected':$index == selectedRow}" ng-click="setSelectedRecipe(recipe)" >{{ recipe.recipe }}</td>
                <td>{{recipe.rating}}</td>
                <td><a href="#/recipes" ng-click = "addLike(recipe)"><p><img style = "width: 40px; height: 40px" src="http://188.166.30.145/topfoodrecipes/likes/like.jpg"></p></a></td>
                <td><a href="#/recipes" ng-click = "addDislike(recipe)"><p><img style = "width: 40px; height: 40px" src="http://188.166.30.145/topfoodrecipes/likes/dislike.jpg"></p></a></td>
                <td></td>
                <td><a href="#/recipeEdit" ng-click="Edit(recipe)" ng-show="loggedIn">edit</a></td>
                <td><a href="#/recipes" ng-click="Delete(recipe)"  ng-show="loggedIn">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
